table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn{
  background-color: blueviolet;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  margin: 30px;
  font-size: 20px;
  float: right;
  margin: 30px;
}
.btn:hover{
  background-color: white;
  color: blueviolet;
  transition-duration: 0.3s;
  border: 1px solid blueviolet;
  box-shadow: blueviolet;
}